      /* font */
   @import url('https://fonts.googleapis.com/css2?family=Luxurious+Roman&family=Poppins:wght@400;500;600;700&family=Roboto+Mono&display=swap');
   
   /* common style */

  body{
       max-width: 1440px;
       color:#aaaaaa;
       font-family: 'Luxurious Roman', cursive;
       font-family: 'Poppins', sans-serif;
       font-family: 'Roboto Mono', monospace;
   }
  .container{
      color:black;
  }
   /* container-title */

.container-title{
    color:#3A3A3A;
    margin: 70px 100px;
    font-weight: 700;
    
}
   /* header section */

.header-title{
    font-size:32px;

}
.header-details{
    display: flex;
    
    
}
.header-peragraph{
    font-size: 12px;
    margin: 16px 0;
}
.h-first{
    width:582;
    margin:60px;
    padding:30px;
    
}
.h-second{
    width:440px;
    
}
.h-second> .header-img img{
    width:100%;
}
.header-button{
    padding:10px 15px;
    border-radius: 20px;
}
    /* items style */

.items-headline{
   
    text-align: center;
}
.item-details{
    width: 320px;
    height: 400px;
    margin-top: 40px;
    padding:10px;
    border: 1px solid grey ;
    border-radius: 5px;
    box-shadow: 2px 2px 2px grey;
}
.item-img img{
    width:309px;
    height: 256;
}
.fa-star.filled{
   color:orange;
    font-size: 8px;
}
.fa-star.empty{
    color:#aeaeae;
    font-size: 8px;
}
.item-info{
    font-size: 10px;
}
.all-items{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
   margin-left: 90px;
}
#see-more{
    text-align: right;
    color: #E02C6DDE;
    margin-right: 65px;
    margin-top: 40px;

}

.trail-section{
    height:230px; 
    text-align: center;
    font-size: 1rem;
    line-height: 40px;
    margin: 150px 200px;
    font-family: poppins;
    border: 1px solid gray;
    border-radius: 10px;
    box-shadow: 10px 5px 5px #aeaeae;    
    
}
.trail-button button{
    padding:10px 40px;
    margin:30px 0;
    border:1px solid #4b71fc;
    border-radius: 20px;
    text-transform: uppercase;
    background-color: #4b71fc;
    color:#fff;
    cursor: pointer;
}
.trail-button button:hover{
   background-color: greenyellow;
   color:black;
}
#req-color{
    color:#4b71fc;
}

      /* footer section */
      
footer{
    color:white;
    background-color: #0A0826;
    text-align: center;
    font-family: poppins;

}
